@model Apogee.Models.Photo
<!-- Button trigger modal -->
<div class="form-group col-md-4">
    <div id="photo">
        @*@{Html.RenderPartial("InsertPhoto", Model);}*@
    </div>
    <button type="button" class="btn btn-primary insert" data-toggle="modal" data-target="#insertPhoto">@*@Apogee.Resources.Resources.UploadPhoto *@</button>
</div>